@font-face {
  font-family: "Cafe24Decoschool";
  src: url("../assets/fonts/Cafe24Decoschool.woff2") format("woff2"),
    url("../assets/fonts/Cafe24Decoschool.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("../assets/fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
